.body {
  font-family: 'Lato', sans-serif;
}

.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

#userFormArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-color: #eee;
}

#userForm {
  position: relative;
  width: 40%;
  margin: auto;
  background-color: white;
  border-radius: 2rem;
  padding: 2rem 4rem;
  height: 50vh;
  white-space: nowrap;
  text-align: center;
  justify-content: center;
}

#userForm > h1 {
  font-size: 4rem;
  position: absolute;
  margin-left: -100%;
  margin-right: -100%;
  left: 0;
  right: 0;
  top: -15vh;
  text-align: center;
}

@media screen and (max-width: 420px) {
  #userForm {
    width: 100%;
    height: 100vh;
    border-color: blue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
  }

  .avatar-slider-container {
    display: block;
  }
}

#avatar {
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
  cursor: pointer;
}

button.slick-arrow.slick-next, button.slick-arrow.slick-prev {
  background-color: #ccc;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.slick-next:before, .slick-prev:before {
  font-size: 40px;
}

.slick-initialized .slick-slide {
  display: flex;
  justify-content: center;
}

.avatar-option > label > input {
  visibility: hidden;
  position: absolute;
}

.avatar-option > label > input + img {
  cursor: pointer;
  border: 2px solid transparent;
}

.error {
  color: red;
  height: 2rem;
  margin: 1rem 0;
}

  .error > span {
    background-color: pink;
    border-radius: 0.5rem;
    padding: 0.8rem;
    font-size: 1.2rem;
  }

@media screen and (min-width: 420px) {
  .error {
    margin: 3rem;
  }
}

#userForm > div > input.btn.btn-primary {
  font-size: 14px;
  width: 10rem;
  margin: 2rem 0;
}

#messageArea {
  margin: 20px;
}

.avatar-slider-container {
  display: block;
  margin: 20px;
}

ul.slick-dots {
  font-family: slick;
}

#enter-username {
  text-align: center;
}

.username-input {
  width: 50%;
  margin: auto;
}
